.title{ color: #F59D00; }

body{ background-color: #FFFFDE; }

.header{ height: 65px; }


/* Buttons */

#left-container button {
    height: 30px;
	width: 30px;
	background-repeat: no-repeat;
	border:none;
	background-size: 100%;
}

button:focus, input:focus, textarea:focus {
    outline:none;
    box-shadow:none;
}

#new-note{
	background-image: url("images/new-note-icon.png");
	background-color: transparent;
}

#new-checklist{
	background-image: url("images/new-checklist-icon.png");
	background-color: transparent;
}

#reload{
	background-image: url("images/reload-icon.png");
	background-color: transparent;
}

#configuration{
	background-image: url("images/gear-icon.png");
	background-color: transparent;	
	float: right;
}

#remove-all{
	background-image: url("images/bin-icon.png");
	background-color: transparent;
}


/* Note Layout */

.note{
	background-color: #F2C500;
	margin-top: 15px;
	margin-right: auto;
	margin-left: auto;
	height: 150px;
	width: 200px;
}

#note-template button {
	height: 24px;
    width: 20px;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    background-repeat: no-repeat;
    border: none;
    background-size: 100%;
}

#delete-note{
	background-image: url("images/delete-icon.png");
	background-color: transparent;
}

.invisible{
	display: none;
}

.title-input, #note-template textarea{
	background-color: #F2C500;
	border:none;
	margin-top: 10px;
	margin-left: 10px;
}

.title-input{
	width: 75%;
}

#note-template textarea{
	height: 100px;
	width: 80%;
}


/* GENERAL MISC */

::-webkit-input-placeholder {
   color: black;
   font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
   color: black;  
   font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: black;  
   font-style: italic;
}

:-ms-input-placeholder {  
   color: black;  
   font-style: italic;
}
